<div class="blog_left_sidebar">
  <article class="blog_item">
    <div class="blog_details" *ngIf="notsubmited; else response ">
      <div class="d-inline-block">
        <h1 class="text-color text-center"> Account</h1>
        <br><br>
        <h6 class="bottom">Invite Code : {{my_code}}</h6>
      </div>
      <div class="form white-background">
        <form  [formGroup]="updateAccount" (ngSubmit)="register()">
          <div class="form-group">
                <label>Skype ID</label>
                <input class="form-control" type="text" formControlName="skype_id" >
              </div>
          <div class="form-group">
            <label>Username</label>
            <input class="form-control"(blur)="ifManteeExist()" [class.invalid]="userName.invalid && userName.touched" type="text" formControlName="username" placeholder="User Name">
           <small class="form-text text-danger">{{userexist}}</small>
            <small class="form-text text-danger" *ngIf="userName.invalid && userName.touched">User Name is required</small>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" (blur)="ifManteeEmailExist()" type="email" [class.invalid]="email.invalid && email.touched" formControlName="email"  placeholder="email">
            <small class="form-text text-danger">{{emailexist}}</small>
            <div *ngIf="email.invalid && email.touched">
            <small class="form-text text-danger" *ngIf="email.errors?.email">email is invalid</small>
            <small class="form-text text-danger" *ngIf="email.errors?.required">email is required</small>
          </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" [class.invalid]="password.invalid && password.touched" formControlName="password">
            <div *ngIf="password.invalid && password.touched">
              <small class="form-text text-danger" *ngIf="password.errors?.minlength">Minimum 8 char required</small>
              <small class="form-text text-danger" *ngIf="password.errors?.required">Password is required</small>
            </div>
          </div>
          <div class="form-group">
            <label>Repeat Password</label>
         <input class="form-control" type="password" [class.invalid]="updateAccount.errors?.misMatch || (cpassword.errors?.required && cpassword.errors?.touched)"  formControlName="cpassword" >
        
         <div *ngIf="updateAccount.errors?.misMatch || (cpassword.errors?.required && cpassword.errors?.touched)">
         <small class="form-text text-danger" *ngIf="updateAccount.errors?.misMatch">password mismatch</small>
          <small class="form-text text-danger" *ngIf="cpassword.errors?.required">Password is required</small>
         </div> 
        </div>

          <div class="form-group">
            <button  class="button button1 " [disabled]="userexist || emailexist || updateAccount.invalid"   value="Submit">Save</button>
          </div>
        </form>
      </div>
    </div>
    <ng-template #response>
        <div class="blog_details" *ngIf="!error">
            <div class="card">
                <div class="card-body text-center">
                  <h1>Updated Successfully</h1>
                  <p>Please login To manage your account</p>
                  <button  (click)="login()"  class="button button1">Login </button>
                  <h3 class="text-center">or</h3>
                  <button  (click)="home()"  class="button button1 white">Go to home </button>
                </div>
              </div>
        </div>
        <div class="blog_details" *ngIf="error">
            <div class="card">
                <div class="card-body text-center">
                  <h1 class="text-danger">Some Server error occur !</h1>
                  <p>Please try again later</p>
                  <button  (click)="manteeReg()"  class="button button1">Try Again </button>
                    <h3 class="text-center">or</h3>
                  <button  (click)="home()"  class="button button1 white">Go to home </button>

                </div>
              </div>
        </div>
    </ng-template>
  </article>      
</div>