<!-- 
<section class="blog_area section-margin">
  <div class="">
    <div class="row">
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
        </div>
      </div>
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
          <img class="img-fluid" src="assets/img/babavaluator/Babavaluator.png" alt="">
          <article class="blog_item">
            <div class="blog_details">
              <h2 class="text-color">The Company</h2>
              <div class="form white-background">
                <form>
                  <div class="form-group">
                    <label for="username">Name</label>
                    <input id="username" class="form-control" type="text" placeholder="Awesome Company">
                  </div>
                  <div class="form-group">
                    <label for="eamil">Email</label>
                    <input id="eamil" class="form-control" type="text" name="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" rows="5"></textarea>
                  </div>
                  <div class="form-group ">
                    <label>Select Industry</label>
                    <select class="form-control w-100 mb-3">
                      <option>The industry sector</option>
                    </select>
                  </div>


                  <h2 class="text-color">Annual Revenue (in USD)</h2>

                  <div class="form-group">
                    <label>Year 1</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 2</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 3</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 4</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 5</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <h2 class="text-color">Annual Net Income (in USD)</h2>

                  <div class="form-group">
                    <label>Year 1</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 2</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 3</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 4</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 5</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>
                  <h2 class="text-color">Annual EBITDA (in USD)</h2>

                  <div class="form-group">
                    <label>Year 1</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 2</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 3</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 4</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 5</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>
                  <h2 class="text-color">Annual Operating Cashflow (in USD)</h2>

                  <div class="form-group">
                    <label>Year 1</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 2</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 3</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 4</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 5</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>
                  <h2 class="text-color">Investment (in USD)</h2>

                  <div class="form-group">
                    <label>Year 1</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 2</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 3</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 4</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>

                  <div class="form-group">
                    <label>Year 5</label>
                    <input class="form-control" type="text" name="re-password" placeholder="$100k">
                  </div>
                  <div class="form-group border-bot">
                    <label>Projection or actual</label>
                    <br>
                    <input class="" type="radio"> Projection &nbsp;&nbsp;&nbsp;
                    <input class="" type="radio"> Actual
                  </div>
                  <br>
                  <div class="form-group">
                    <button class="button button1" type="Submit">Submit</button>
                  </div>
                </form>

              </div>
            </div>
          </article>

        </div>
      </div>

    </div>
  </div>
</section> -->