button.button.button1 {
    width: 100%;
}
section.blog_area.section-margin-large {
    background-color: #f7f2f2;
}
.form-control{

border-radius: 5px; }
.form-group {
    margin-top: 20px !important;
}
.white {
    background-color: white;
    color: #1F3291;
    border: 1px solid #1F3291;
}
a.button.redbtn {
    background-color: red;
    border-color: red;
    color: white !important;
    width: 100%;
    text-align: center;
}
a.button{    width: 100%;
    text-align: center;}
img.img-fluid.profile {
    border-radius: 50%;
    
}
aside.single_sidebar_widget.post_category_widget {
    background-color: transparent;
}
.small1{font-size: 14px; font-weight: 100;}
li {
    text-align: center;
}

