<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" (click)="intrestArea()">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
              <i class="fa fa-indent" style="font-size:48px;color:red"></i>
              <span class="bladge">{{intresrArea}}</span>
          </div>
          <h3 class="card-title">
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
          <H3 class="head-text">Interest Area</H3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" (click)="helpAreafun()">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="fa fa-indent" style="font-size:48px;color:red"></i>
                <span class="bladge">{{helpArea}}</span>
            </div>
            <h3 class="card-title">
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            <H3 class="head-text">Help Area</H3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6"  (click)="alluser()">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="fa fa-users" style="font-size:48px;color:red"></i>
                <span class="bladge">{{user}}</span>
            </div>
            <h3 class="card-title">
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            <H3 class="head-text">All User</H3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" (click)="alluser()">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                  <i class="fa fa-users" style="font-size:48px;color:red"></i>
                  <span class="bladge">{{mentor}}</span>
              </div>
              <h3 class="card-title">
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
              <H3 class="head-text">All Mentor</H3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" (click)="alluser()">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-users" style="font-size:48px;color:red"></i>
                    <span class="bladge">{{mentee}}</span>
                </div>
                <h3 class="card-title">
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                <H3 class="head-text">All Mentee</H3>
                </div>
              </div>
            </div>
          </div>
 
      <div class="col-lg-3 col-md-6 col-sm-6" (click)="allproj()">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                <span class="bladge">{{projects}}</span>
            </div>
            <h3 class="card-title">
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            <H3 class="head-text">All Projects</H3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6"  (click)="allproj()">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                  <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                  <span class="bladge">{{pending}}</span>
              </div>
              <h3 class="card-title">
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
              <H3 class="head-text">Pending Projects</H3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6"  (click)="allproj()">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                    <span class="bladge">{{approved}}</span>
                </div>
                <h3 class="card-title">
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                <H3 class="head-text">Approved Projects</H3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6"  (click)="allproj()">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                      <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                      <span class="bladge">{{rejected}}</span>
                  </div>
                  <h3 class="card-title">
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                  <H3 class="head-text">Rejected Projects</H3>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6"  (click)="allproj()">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                        <span class="bladge">{{adminBabaStartCountvar}}</span>
                    </div>
                    <h3 class="card-title">
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    <H3 class="head-text">Fund Raised</H3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6"  (click)="Subscriber()">
                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-th-large" style="font-size:48px;color:red"></i>
                          <span class="bladge">{{adminSubscriberCountvar}}</span>
                      </div>
                      <h3 class="card-title">
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                      <H3 class="head-text">Subscriber</H3>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
<!-- ======================== -->
<div class="row">

  <div class="col-md-6 offset-md-3 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
      <article class="">

        <div class="">
          <div class="text-center" >
              <h6 class="text-color ">Today Meetings </h6>
            <!-- {{meetings |json}} -->
          </div>
          <div class="form white-background">

             <table class="table text-danger table-responsive">
               <thead>
                  <!-- <tr><th>SN</th><th>Admin</th><th>User</th><th>Time</th></tr> -->
              </thead>
              <tbody>                   
                  <tr *ngFor="let meeting of meetings;let i=index">
                      <td>{{i+1}}</td>
                      <td><img class="img-pro" [src]="meeting.admin_image">
                      <br>{{meeting.admin_name}}</td>
                      <td><img class="img-pro" [src]="meeting.user_image">
                      <br>{{meeting.user_name}}</td>       
                      <td>             
                        <div  class="btn-group btn-group-ch" >
                          <button type="button" class="btn  bin-ch-c">{{meeting.start_time | date:'LLL dd'}}</button>
                          <button type="button" class="btn white  bin-ch-c">{{meeting.start_time | date:'hh:mm a'}} - {{meeting.end_time | date:'hh:mm a'}}</button>
                        </div>
                      </td>
                      <td>
                            <span *ngIf="meeting.status_flag==1" class="bladge-yellow">{{meeting.status}}</span>
                            <span *ngIf="meeting.status_flag==2" class="bladge-green">{{meeting.status}}</span>
                          </td>
                  </tr>
              </tbody>
             </table>
    
          </div>
        </div>
      </article>

    </div>
  </div>

</div>