<div class="container bg">
    <div class="row">
        <div class="col-md-8 offset-md-3"><br><br>
            <iframe width="100%" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTXED3u5WE9UBRebkKVmJkgo1TCyCFV8xg-EEWrWqS071K_5mghm8TdVlYqo_JAgqc-GYzJSUwqDkXy/pubchart?oid=350821291&amp;format=interactive"></iframe>
            <br><br>
            <iframe width="100%" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTXED3u5WE9UBRebkKVmJkgo1TCyCFV8xg-EEWrWqS071K_5mghm8TdVlYqo_JAgqc-GYzJSUwqDkXy/pubchart?oid=1756424275&amp;format=interactive"></iframe>
            <br><br>
            <iframe width="100%" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTXED3u5WE9UBRebkKVmJkgo1TCyCFV8xg-EEWrWqS071K_5mghm8TdVlYqo_JAgqc-GYzJSUwqDkXy/pubchart?oid=1865096094&amp;format=interactive"></iframe>
            <br><br>
            <iframe width="100%" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTXED3u5WE9UBRebkKVmJkgo1TCyCFV8xg-EEWrWqS071K_5mghm8TdVlYqo_JAgqc-GYzJSUwqDkXy/pubchart?oid=1143735096&amp;format=interactive"></iframe>
            <br><br>
            <iframe width="100%" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTXED3u5WE9UBRebkKVmJkgo1TCyCFV8xg-EEWrWqS071K_5mghm8TdVlYqo_JAgqc-GYzJSUwqDkXy/pubchart?oid=1968739684&amp;format=interactive"></iframe>

        </div>
    </div>
</div>