.fade:not(.show) {
    opacity: 100;
}
.img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
button.delete.btn.btn-danger {
    border-radius: 18px;
    margin: 0px 20px;
}
.alert.alert-success.alert-dismissible.fade.in {
    background-color: white;
    border: 1px solid red;
    color: black;
    width: 80%;
    margin: 10px auto;
}
button.delete.btn.btn-danger.close[_ngcontent-c5] {
    background-color: red;
    top: 22px;
    right: 30px;
    color: white;
}
button.delete.btn.button {
    margin: 0px 20px;
}
.left{width: 20%}
.middle{width: 60%}
.right{width: 20%}
.alert.alert-success {position: relative !important;}
button.delete.btn.btn-danger {
    font-size: 10px;
}
button.delete.btn.button {
    font-size: 10px;
    padding: 7px;
}
span.date {
    font-size: 10px;
    background: yellow;
    padding: 5px;
 
}
span.date2 {
    font-size: 10px;
    background:lightgreen;
    padding: 5px;
    margin-left: 20px;
}
.msg{text-align: center;color:blue; }