<div class="blog_left_sidebar">

  <article class="blog_item">

    <div class="form white-background">
      <div class="container-fluid">
        <br>
         <!--============================== add post ============================-->
           <app-search-bar></app-search-bar>
        <!--============================== add post ============================-->
          <app-add-post></app-add-post>
         <!--============================== Mentor crousel ============================-->
          <app-list-mentor></app-list-mentor> 
         <!--============================== Post list ============================-->
          <app-list-post></app-list-post>
      </div>
    </div>
  </article>

</div>