
<!--================Blog Area =================-->
<section class="blog_area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <article class="">
  
              <div class="">
                <div class="text-center" >
                    <h1 class="text-color ">Contact Us</h1>
                  <div class="searchbar">

                      <input class="search_input form-control1" type="text" name="" [(ngModel)]="nameFilter.name"
                        placeholder="Search...">                        
                    </div>
                  <br>        
                </div>
                <div class="form white-background">
        
                   <table class="table text-danger table-responsive">
                    <tbody>                   
                      <tr *ngFor="let intrest of allUser | filterBy: nameFilter; let i=index">
                      <td class="ind">{{i+1}}</td> 
                        <td>{{intrest.name}}</td> 
                      <td>{{intrest.email}}</td> 
                      <td>{{intrest.mobile}}</td> 
                      <td>{{intrest.date | date : 'medium'}}</td> 
                     </tr>
                    </tbody>
                   </table>
          
                </div>
              </div>
            </article>
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!--================Blog Area =================-->
  