<!--================Hero Banner Area Start =================-->
<div class="pg-bg">
<section class="hero-banner ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="text-center">

          <a routerLink="mentee/register"> <img class="img-fluid img-home-ch" src="assets/img/home/home2.svg" alt=""></a>


        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class=" text-center">
          <a routerLink="mentee/register"> 
          <img class="img-fluid img-home-ch-2" src="assets/img/home/home1.svg" alt="">
        </a>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class=" text-center">

          <a routerLink="mentor/register"> <img class="img-fluid img-home-ch" src="assets/img/home/home3.svg" alt=""></a>


        </div>
      </div>
    </div>

  </div>
</section>
<!--================Hero Banner Area End =================-->

<!--================Search Package section Start =================-->
<section class="section-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-6 aut-margin text-center ">
        <img class="img-fluid babaStart" src="/assets/img/svg/BabaStart logo.svg" alt=""><br>
        <a class="button button2" href="#">BabaStart <sup>TM</sup></a>
      </div>

    </div>
    <div class="row margin-top1">
      <div class="col-md-12 col-sm-8  ">
        <h3 class="justify text-color font-30"><div id="what" class="content">
          <p class="big-paragraph">mentorBaba is building a <span class="red">global super-ecosystem</span> for startup companies at the very cross section of the ‘money and mind’ network where entrepreneurs get <span class="red">connected</span> to experienced mentors, angel investors, fellow entrepreneurs and the startup ecosystems through <span class="red">initial set of capabilities</span> delivered by BabaStart™, BabaValuator™, BabaInc.™, BabaNews™,  and BabaCamp™<br></p></div></h3>
        <a href="https://about.mentorbaba.co" class="button btn-red">More</a>
      </div>
    </div>

  </div>
</section>
<!--================Search Package section End =================-->
<br><br><br>
</div>
<!--================Testimonial section Start =================-->
<section class="section-padding  pb-xl-5">
  <div class="container ">
  
  <div class="row">
      <div class="col-md-12 col-center m-auto">
          <h2 class="text-center">What Do People Say ?</h2>
          <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="img-box"><img src="/assets/img/testimonial/t-slider1.jpg" alt=""></div>
              <p class="testimonial">A good mentor is a key asset for a startup. They serve as a bridge between dreams of founders and reality. mentorBaba is just the right platform I have been looking for.</p>
              <h3>Havyas KS</h3>
              <h5 >(Agritech Wannapreneur)</h5>

            </div>
            <div class="item carousel-item">
              <div class="img-box"><img src="/assets/img/testimonial/t-slider2.jpg" alt=""></div>
              <p class="testimonial">mentorBaba helps startups to connect with global startup-ecosystems including mentors, investors and fellow founders. It is a great platform for founders to give us to get the right exposure.</p>
              <h3>Dr. Karnav Patel</h3>
              <h5>(CEO and Founder Hashicare)</h5>
            </div>

          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Testimonial section End =================-->

<!--================Search Package section Start =================-->
<section class="section-margin white-bg">
  <div class="container ">
    <div class="row">
      <div class="col-md-8 aut-margin2 ">
        <h1 class="text-center text-red">So Friends ready, set, startup !</h1>
        <div class="row">
        <div class="col-sm-12 col-md-6 ">
          <a class="button bt-50 " routerLink="mentor/register">Be a mentor</a>
        </div>
        <div class="col-sm-12 col-md-6">
          <a class="button bt-50 white" routerLink="mentee/register">Be a mentee</a>
        </div>
      </div>
        
        
      </div>
      <br>

    </div>
    <div class="row">

    </div>

  </div>
</section>
<!--================Search Package section End =================-->