<!--================Hero Banner Area Start =================-->
<section class="hero-banner ">
  <div class="container-fluid">
        <div class="row "> 
               <h1 class="text-center">Who are You ? </h1>
              </div>
      <div class="row">
  
          <div class="col-md-6 col-lg-5  mb-4 mb-lg-0">
            <div class="text-center">
        
              <a  (click)="registerMantee()" ><img class="img-fluid img-fluid1" src="assets/img/register/mantee.svg" alt=""></a> 
           

            </div>
          </div>
          <div class="col-md-6 col-lg-5 offset-lg-2 mb-4 mb-lg-0">
            <div class="text-center">
        
              <a (click)="registerMantor()"> <img class="img-fluid img-fluid1" src="assets/img/register/mantor.svg" alt=""></a> 
           

            </div>
          </div>
        </div>

  </div>
</section>
<!--================Hero Banner Area End =================-->

